@large-event:registry=http://localhost:4873
@teamd:registry=http://localhost:4873
@teama:registry=http://localhost:4873
@teamb:registry=http://localhost:4873
@teamc:registry=http://localhost:4873

# Force local node_modules for React Native compatibility
shamefully-hoist=true
node-linker=hoisted
